.review-list {
  &-shimmer {
    margin: 30px 0;

    &-item {
      margin-top: 25px;
    }
  }

  &-header {
    display: flex;
    align-items: center;

    &-text {
      padding-right: 10px;
    }
  }

  .ms-DetailsRow-fields {
    display: flex;
    align-items: center;

    .ms-DetailsRow-cell:nth-of-type(3) {
      white-space: normal;
      flex: 1 1;
    }
  }

  .ms-List-page .ms-List-cell:empty {
    display: none;
  }
}
