.review-list {
  &-shimmer {
    margin: 30px 0;

    &-item {
      margin-top: 25px;
    }
  }

  &-header {
    display: flex;
    align-items: center;

    &-text {
      padding-right: 10px;
    }
  }

  &-items {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &-item {
    padding: 8px;
    border: 1px solid #e1e1e1;
    border-radius: 4px;

    &-name {
      font-weight: 600;
      margin-bottom: 4px;
    }

    &-description {
      color: #666;
      margin-bottom: 4px;
    }

    &-status {
      font-size: 12px;
      color: #888;
    }
  }
}
