@import (reference) '../variables.less';

.msla-sample-payload-button {
  color: @brandColor;
  padding: 0;
}

.msla-schema-editor-body {
  .msla-modal-content {
    height: 330px;
  }

  .msla-textarea {
    font-family: Consolas, monospace;

    textarea {
      min-height: @multiline-min-height;
    }
  }
}

.msla-modal-body {
  .msla-textarea {
    font-family: Consolas, monospace;

    textarea {
      min-height: @multiline-min-height;
    }
  }
}
