@import (reference) '../../variables.less';

.msla-expression-trace-children {
  display: table;
  font-size: @card-body-font-size;

  &.msla-expression-trace-indent {
    margin-left: 32px;
  }

  .msla-expression-trace-inner {
    display: flex;
    flex-flow: row nowrap;

    .msla-expression-trace-expression,
    .msla-expression-trace-value {
      border: @defaultBorder;
      box-sizing: border-box;
      display: inline-block;
      max-width: 240px;
      min-width: 0;
      overflow: hidden;
      padding-right: 0.5em;
      text-overflow: ellipsis;
      white-space: nowrap;

      button {
        background-color: #fff; /* @callout-background-color */
        border: 0;
        cursor: pointer;
        font-family: Consolas, monospace;
        height: 32px;
        margin-right: 0.25em;
        width: 32px;
      }
    }

    .msla-expression-trace-expression {
      border-right: 0;

      &:empty {
        padding-right: 0;
      }
    }

    .msla-expression-trace-expression > div,
    .msla-expression-trace-expression > span,
    .msla-expression-trace-value > code {
      font-family: @font-family;
      padding: 0.25em;
    }
  }
}

.msla-expression-trace-visualizer {
  display: flex;
  max-height: 240px;
  max-width: 480px;
  padding: 0.5em 1em;

  code {
    font-family: Consolas, monospace;
    white-space: pre-wrap;
  }
}

.msla-trace-value-callout {
  background-color: #fff; /* @callout-background-color */

  .msla-trace-value-callout-inner {
    box-sizing: border-box;
    max-height: 155px;
    max-width: 500px;
    min-width: 388px;
    overflow: auto;
    padding: 0.5em;
  }
}

body.dark {
  .msla-expression-trace-children {
    .msla-expression-trace-expression,
    .msla-expression-trace-value {
      button {
        background-color: @ms-color-white;
        color: @ms-color-black;
      }
    }
  }

  .msla-trace-value-callout {
    background-color: @ms-color-white;
  }
}
