.msla-export {
  height: 100vh;

  &-title {
    padding: 15px 0;
  }

  &-overview-panel {
    display: flex;
    max-height: 60%;

    &-list {
      width: 75%;
      display: flex;
      flex-direction: column;

      &-workflows {
        overflow: auto;
        margin: 15px 0;
        flex: 1;
      }
    }

    &-divider {
      padding: 0 20px;

      &::after {
        width: 3px;
      }
    }

    &-selected {
      display: flex;
      flex-direction: column;

      &-title {
        padding: 0 0 16px 8px;
      }

      &-list {
        display: flex;
        flex-direction: column;
        overflow: auto;
        flex: 1;

        &-item {
          display: inline-flex;
          align-items: center;

          &-text {
            max-width: 45%;
          }

          .subtext-color {
            color: #cccccc;
          }

          &-subtext {
            display: flex;
            max-width: 45%;
            padding-left: 6px;
          }
        }
      }
    }
  }
}
