@import (reference) './variables.less';

.msla-button {
    background-color: transparent;
    border: none;
    font-family: @font-family;
    cursor: pointer;
    font-size: @card-body-font-size;
    color: @brandColor;
    line-height: @parameter-inputbox-height;
}
