.msla-unit-test-results {
  height: 100vh;
  padding: 40px;

  &-header {
    display: flex;
    align-items: center;
    margin: 20px 0;
  }

  &-assertion {
    display: flex;
    margin: 15px 10px;
  }
}
