@import (reference) '../variables.less';

@msla-selector-icon-size: 15px;
@msla-selector-icon-margin: 0 10px;

.msla-selector {
    padding: 0;
    margin: 0;
    outline: none;

    &.msla-selector-shadow {
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    }

    div.msla-selector-list-item {
        cursor: pointer;
        line-height: @parameter-inputbox-height;
        font-family: @font-family;
        white-space: nowrap;
        color: inherit;
        display: inline-block;
        border: none;
        width: 100%;
        text-align: left;
        background-color: white;

        &:hover, &:focus, &:active {
            background-color: @hoverColor;
            -webkit-transition: background-color .5s ease;
            -moz-transition: background-color .5s ease;
            -ms-transition: background-color .5s ease;
            transition: background-color .5s ease;
        }

        div {
            display: inline-block;
        }

        .msla-selector-icon {
            width: @msla-selector-icon-size;
            height: @msla-selector-icon-size;
            margin: @msla-selector-icon-margin;
            vertical-align: baseline;
        }

        .msla-selector-list-text {
            overflow: hidden;
            text-overflow: ellipsis;
            vertical-align: baseline;
            font-size: @card-label-font-size;
            color: black;
            white-space: nowrap;
            text-align: left;
        }
    }

    div.msla-selector-list-item-disabled {
        background-color: white;
        border: none;
        height: 100%;
        display: inline-block;
        padding: 0 0 8px 0;
        width: 100%;
        text-align: left;

        div {
            display: inline-block;
        }

        .msla-selector-icon {
            width: @msla-selector-icon-size;
            margin: @msla-selector-icon-margin;
        }
    }
}

.msla-card-menu-title div {
    display: block;
}

.msla-card-menu-subtitle {
    line-height: 0;
}

.msla-selector-narrow {
    div.msla-selector-list-item {
        .msla-selector-list-text {
            max-width: 270px;
        }
    }
}

body.dark {
    .msla-selector {
        &.msla-selector-shadow {
            box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.1);
        }

        div.msla-selector-list-item {
            background-color: @ms-color-white;

            &:hover, &:focus, &:active {
                background-color: @ms-color-themeLighter;
            }

            .msla-selector-list-text {
                color: @ms-color-black;
            }
        }
    }

    div.msla-selector-list-item-disabled {
        background-color: @ms-color-white;
    }
}
