@import (reference) '../variables.less';
@callout-font-size: 13px;

.msla-simple-callout-container {
    padding: 10px;
}

.msla-simple-callout-title {
    font-family: @font-family;
    font-weight: bold;
    font-size: @callout-font-size;
}

.msla-simple-callout-text {
    font-family: @font-family;
    font-size: @callout-font-size;
}
