@import '../../../../../libs/designer-ui/src/styles.less';

.pseudo-command-bar {
  background: white;
  box-shadow: 0px 3.2px 7.2px rgba(0, 0, 0, 0.132), 0px 0.6px 1.8px rgba(0, 0, 0, 0.108) !important;
  border-radius: 8px;
  padding: 8px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  display: flex;
  gap: 8px;

  *.ms-Button {
    border: none;
    height: 32px;
    font-size: 14px;
  }
}

.msla-theme-dark {
  .pseudo-command-bar {
    background: @ms-color-primaryBackground;
  }
}
