name: Sync with Azure DevOps

on:
  schedule:
    - cron: '*/15 * * * *'
  issues:
    types: [opened, closed, deleted, reopened, edited, labeled, unlabeled, assigned, unassigned]
  issue_comment:
    types: [created]
  workflow_dispatch:
    inputs:
      manual_trigger:
        description: 'Manual Trigger'
        required: false
        default: "true"
        type: choice
        options:
          - "true"
          - "false"

concurrency:
  group: issue-sync
  cancel-in-progress: false

jobs:
  alert:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    name: Sync workflow
    steps:       
    - uses: actions/checkout@v3
    - uses: hartra344/GitSync@main
      env:     
        ado_token: '${{ secrets.ADO_SYNC_TOKEN }}'
        github_token: '${{ secrets.GITHUB_TOKEN }}'
        config_file: './.github/sync_config.json'
