name: Build test - Nightly Release

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  AI_KEY: 19a4f2b3-bf0a-4a6b-bd56-aa9d2cd85a75
  NX_AI_CON_STR: InstrumentationKey=19a4f2b3-bf0a-4a6b-bd56-aa9d2cd85a75;IngestionEndpoint=https://eastus-8.in.applicationinsights.azure.com/;LiveEndpoint=https://eastus.livediagnostics.monitor.azure.com/

jobs:
  bump-version:
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout Github Action'
        uses: actions/checkout@master
        with:
          token: ${{ secrets.AUTOMATION_PAT }}
          fetch-depth: 0

      - name: Set up Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 16

      - run: npm ci

      - name: 'Version Bump'
        run: git config --global user.email $GITHUB_ACTOR && git config --global user.name release-automation-${GITHUB_ACTOR}@microsoft.com && npm run bump && npm install

      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.AUTOMATION_PAT }}
          branch: ${GITHUB_REF}

  build:
    runs-on: ubuntu-latest
    needs: bump-version

    steps:
      # checkout the repo
      - name: 'Checkout Github Action'
        uses: actions/checkout@master
        with:
          fetch-depth: 0

      - name: Set up Node.js version 16
        uses: actions/setup-node@v1
        with:
          node-version: 16

      - run: npm ci

      - name: 'Local Version Bump'
        run: npm run bump -- --skip.commit --skip.tag

      - name: 'Set DM VSIX aiKey in package.json'
        run: echo "`jq '.aiKey="$AI_KEY"' package.json`" > package.json

      - run: npx nx build vs-code-data-mapper
      - run: npx nx build vs-code-data-mapper-react
      - run: npm run vscode:data-mapper:pack
