name: Playwright Tests
on:
  push:
    branches: [main, dev/*, hotfix/*]
  pull_request:
    branches: [main, dev/*, hotfix/*]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-24.04-16core
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: 20.x
    - uses: pnpm/action-setup@v3
      with:
        version: 9.1.3
        run_install: |
          - recursive: true
            args: [--frozen-lockfile, --strict-peer-dependencies]
          
    - name: Install Playwright Browsers
      run: pnpm run e2e:setup
    - name: Run Playwright tests
      run: pnpm run test:e2e --grep @mock --workers 16
    - uses: actions/upload-artifact@v4
      if: always()
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30
