name: Test Runner

on:
  push:
    branches: [main, dev/*, hotfix/*]
  pull_request:
    branches: [main, dev/*, hotfix/*]
jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x, 20.x]

    steps:
      # checkout the repo
      - name: 'Checkout Github Action'
        uses: actions/checkout@master
        with:
          fetch-depth: 0

      - name: Derive appropriate SHAs for base and head for `nx affected` commands
        uses: nrwl/nx-set-shas@v2

      - name: Set up Node.js version ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - run: npm ci
      - run: npx nx affected --target=lint --parallel
      - run: npx nx affected --target=build
      - run: npx nx affected --target=test --parallel
      - run: npx playwright install
      - run: npx nx e2e designer-e2e --reporter=html
      - run: npx nx e2e data-mapper-e2e --reporter=html

      - uses: actions/upload-artifact@v2
        if: always()
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
